<div id="top">
	<div class="search">
		<form id="searchform" method="get" action="#">
			<input type="text" value="" name="s" id="s" size="30"
				placeholder={{greeting.placeholder}} />
			<button type="submit" ng-bind="greeting.search"></button>
		</form>
	</div>
</div>
<nav class="navbar navbar-default "  role="navigation" id="menu-nav">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only"></span> <span class="icon-bar"></span> 
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>

		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a ui-sref=".home" href=""ng-bind='greeting.homePage'></a></li>
				<li><a ui-sref=".classification" href="#" ng-bind='greeting.safe.safe'  ng-click="setClassification('safe.safe')"></a></li>
				<li><a ui-sref=".classification" href="#" ng-bind='greeting.study' ng-model="study"></a></li>
				<li><a ui-sref=".resume" href="" ng-bind='greeting.marketing'></a></li>
				<li><a ui-sref=".resume" href="" ng-bind='greeting.networkMarketing'></a></li>
				<li><a ui-sref=".resume" href="" ng-bind='greeting.seo'></a></li>
				<li><a ui-sref=".resume" href="" ng-bind='greeting.sharingTechnology'></a></li>
				<li><a ui-sref=".resume" href="" ng-bind='greeting.chongqing'></a></li>
				<li class="dropdowen">
					<a ui-sref=".resume" href="#"	class="dropdown-toggle" data-toggle="dropdown"ng-bind="greeting.personalProfile.personalProfile"></a>
					<ul class="dropdown-menu nav-stacked" role="menu">
						<li><a ui-sref=".resume" href="#feature-tab"data-tab="tab-chrome" ng-bind='greeting.personalProfile.resume'></a></li>
						<li><a ui-sref=".resume" href="#feature-tab"data-tab="tab-chrome" ng-bind='greeting.personalProfile.aboutWebSite'></a></li>
						<li><a ui-sref=".resume" href="#feature-tab"data-tab="tab-chrome" ng-bind='greeting.personalProfile.contactMe'></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div>
	<div id="content">
	<div></div>
		<div id="main-box">
			<div ui-view="" />
		</div>
	</div>
	<div id="side-box">
		<div ui-view="side"></div>
	</div>
</div>
<!-- <div id="bottom">ssssssssssss</div> -->

