<div id="top">
	<div class="m-midnav" >
		<div class="g-container">
			<a href="http://open.163.com"><h1 class="logo left notxt">网易公开课</h1></a>
			<div class="left subtxt"></div>
			<form accept-charset="utf-8" id="" target="_blank" action="">
				<div class="search right rel ">
					<label class="phold f-c9" for="j-search" style="display: block;"></label>
					<input autocomplete="off" type="text" name="query" class="inputxt j-txt" id="j-search"> 
					<input type="submit" class="subbtn f-icon" value=""> 
					<input type="hidden" name="enc" value="">
				</div>
			</form>
		</div>
	</div>
</div>
<nav class="navbar navbar-default " role="navigation" id="menu-nav" >
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only"></span> <span class="icon-bar"></span> 
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>

		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav ">
				<li class="left"><a ui-sref="index.index" href="" ng-bind='greeting.homePage' class="active"></a></li>
				<li class="left"><a ui-sref="index.classification" href="#"  ng-click="setClassification($event.target)" name="greeting.safe.safe">DataSourse</a></li>
				<li class="left"><a ui-sref="index.classification" href="#" ng-click="setClassification($event.target)" name="greeting.safe.safe">Html</a></li>
				<li class="left"><a ui-sref="index.classification" href=""  ng-click="setClassification($event.target)" name="greeting.safe.safe">CSS</a></li>
				<li class="left"><a ui-sref="index.classification" href=""  ng-click="setClassification($event.target)" name="greeting.safe.safe">ExtJS</a></li>
				<li class="left"><a ui-sref="index.classification" href=""  ng-click="setClassification($event.target)" name="greeting.safe.safe">Angularjs</a></li>
				<li class="left"><a ui-sref="index.classification" href=""  ng-click="setClassification($event.target)" ng-bind='greeting.personalProfile.aboutWebSite' name="greeting.safe.safe"></a></li>
				<li class="left"><a ui-sref="index.classification" href=""  ng-click="setClassification($event.target)" name="greeting.safe.safe">ChongQing</a></li>
				<li class="left"><a ui-sref="index.classification" href=""  ng-click="setClassification($event.target)"  ng-bind='greeting.design' name="greeting.safe.safe"></a></li>
				<li class="dropdowen right ">
					<a ui-sref=".classification" href="#" style="color: #ffbc62;"	class="dropdown-toggle" data-toggle="dropdown"  ng-click="setClassification($event.target)" name="greeting.safe.safe">{{greeting.personalProfile.personalProfile}}<span class="caret"></span></a>
					<ul class="dropdown-menu nav-stacked" role="menu">
						<li><a ui-sref="index.classification" href="#feature-tab"data-tab="tab-chrome" ng-bind='greeting.personalProfile.contactMe' ng-click="setClassification($event.target)" name="greeting.safe.safe"></a></li>
					</ul>
				</li>
				<li class="right">
					<a ui-sref="index.classification" href="#feature-tab" style="color: #ffbc62;" data-tab="tab-chrome" ng-bind='greeting.personalProfile.aboutWebSite' ng-click="setClassification($event.target)" name="greeting.safe.safe"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div ui-view="" />  


