body {
	margin: 0;
	padding: 0;
}


*{
	border-radius: 0px;
}

.clear {
	clear: both;
}
a:focus{
 outline: none;
}
#top {
	width: 1139px;
	margin: 0 auto;
	height: 100px;
	}

#bottom {
	position: absolute;
	bottom: 0px;
	right: 16px;
	width: 100%;
	text-align: center;
	border-top: solid 1px #f8f8f8;
	z-index: 2;
	overflow: hidden;
}

.division-line {
	padding-top:10px;
	border-bottom: solid 1px #777;
}

.search {
	margin-top: 30px;
	float: right;
}

#searchform {
	background: #20df33;
	border-radius: 1px;
	/* padding: 1px 1px 1px 1px; */
}

#searchform input {
	width: 186px;
	line-height: 24px;
	vertical-align: middle;
	padding: 0 5px;
	border: rgb(255, 40, 50) solid 1px;
}

#searchform button, #searchform #searchsubmit {
	width: 58px;
	text-align: center;
	height: 26px;
	line-height: 26px;
	background: rgb(255, 40, 50);
	margin-left: -6px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	vertical-align: middle;
}

.search button:hover, .main ul li h2 a:link, .main ul li h2 a:visited,
	.main .left h2 a:link, .main .left h2 a:visited {
	color: #222;
}

#searchform button:hover {
	background: #ff0080;
}

#searchform input:FOCUS {
	
}

button {
	outline: none;
}

.content {
	width: 1140px;
	margin: 0 auto;
	background-color: #ffffff;
}

.content-part-top,.content-part {
    position: relative;
    margin-bottom: 20px;
}
.content-part{
	
	padding-top: 10px;
}
#side-box {
	float: right;
	width: 260px;
	padding-left:15px;
	background: transparent url("images/sidebar_line.png") repeat-y scroll left top;
	height: 720px;
	float: right;
}

.dropdown-menu>li>a {
	display: block;
	padding: 1px 15px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: rgb(255, 40, 50);
	white-space: nowrap;
}

.roll-image {
	max-width: 300px;
	width: expression(document.body.clientWidth > 300px ? "300px" : "auto");
	float: left;
	max-height: 720px;
	max-width: 640px;
	width: expression(this.width > 640 && this.height < this.width ? 640 : true);
	height: expression(this.height > 720 ? 720 : true);
}

.carousel-caption {
	float: right;
	padding: 20px 20px 0;
	width: 420px;
  	height: 200px;
	color: #999;
	background: #f6f6f6;
}
.widget {
    list-style-type: none;
    margin-bottom: 20px;
}
.widget h2, .sidebar_cmt_widget h2 {
	margin-top: 0px;
    margin-bottom: 6px;
    border-bottom: 1px solid #DDD;
    height: 26px;
    color: #ff0080;
    font-size: 14px;
    clear: both;
}

.widget p{
	margin-top: 0px;
    margin-bottom: 6px;
    height: 26px;
    color:  #999;;
    font-size: 12px;
    clear: both;
}
.clearfix {
	
}
.side-box-p {
	background-color: rgb(255, 40, 50);;
	padding: 3px;
	color: #ffffff
}

.side-box-p:HOVER {
	background-color: #ff0080;
	padding: 3px;
}

.wei-xin {
	color: #ffffff;
	background-color: #00ff80;
	padding: 3px;
	padding: 3px;
}

.post-filters{
	margin:10px 0px 0px;
  	color: #239c48 !important;
  	text-decoration: none;
    font-size: 14px;
    margin-bottom: 3px;
}

.abbreviated-post {
  	border-bottom: solid 1px #ededed;
	padding-bottom: 15px;
	margin-bottom: 18px; 
	position: relative;
	min-height: 90px;
}

.abbreviated-post  {
	font-size: 13px;
}

.toad-thumbnail {
  width: 25%;
  height: 164px;
  float: left;
}
.toad-thumbnail img {
	width: 100%;
	height: 100%;
	border: 0px;
}

img:hover{
	opacity: 0.9;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=1);
	-moz-opacity:0.1;
	opacity: 0.8;
}
.toad-thumbnail img{
	padding: 0 1px 0 0;
	/* border: 1px solid #DDD; */
	overflow: hidden;
}
.toad-thumbnail img:hover{

	box-shadow: 0 0 1px #DDD;
	overflow: hidden;
}
.toad-post-content {
  width: 72% !important;
}
.toad-post-content {
  float: left;
}
media="screen"
.post-name {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
}
h4.post-name {
  font-weight: normal;
}
h4.post-name a{
  font-size: 15px;
  color: #186105; 
  font-weight: normal;
}
h4.post-name a:hover{
  font-size: 15px;
  color: #ff0000; 
  text-decoration:none;
}
.post-name {
  font-size: 14px;
  margin: 0 0 5px;
  font-weight: normal;
}
.toad-item-stats {
  color: #333333;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.toad-item-introduction{
	margin-top: 2px;	
	font-size: 12px;
	position:relative;
}
.sep {
  padding: 0 2px;
  color: #ff0080;
  font-size: 12px;
}
.toad-item-introduction  span {
	font-size: 12px;
}

.toad-icon {
  padding: 0 8px 0 24px !important;
  display: inline !important;
  margin: 0 !important;
  height: auto !important;
  font-weight: normal !important;
  background-image: url(../../assets/image/toad_2D00_world_2D00_icons_2D00_final.png) !important;
  background-image: url(http://www.toadworld.com/cfs-filesystemfile.ashx/__key/themefiles/s-678c14fc6c7c42c4afdbadab9b68ae0a-files/toad_2D00_world_2D00_icons_2D00_final.png) !important;
  background-repeat: no-repeat;
  background-position: 2px 2px;
  font-size: 11px !important;
  font-family: "OpenSansSemibold", "Myriad Pro", Helvetica, Arial, Sans-Serif;
}
.toad-icon.toad-views {
  background-position: 0 0 !important;
}
.toad-icon.toad-replies {
  background-position: 0 -20px !important;
}
.more-read{
	background-color: rgb(255, 40, 50);
	padding: 1px 5px;
	color: #ffffff;
	position:absolute;
 	right:0px;
}

.more-read:hover {
	background: #ff0080;
}

.more-read{
	background-color: rgb(255, 40, 50);
	padding: 1px 5px;
	color: #ffffff;
	position:absolute;
 	right:0px;
}
.paging{
 	right:0px;
 	font-size: 12px;
  	text-align: right;
}
.classification-content-part{
    margin-bottom: 20px;
}
.right{
	float: right;
}
.left {
  float: left;
}

.f-cyellow {
  color: #ffbc62;
}

.m-midnav {
  height: 54px;
  padding: 28px 0;
  background: #fff;
  z-index: 700;
}

.rel, .f-pr {
  position: relative;
}
.clear, .f-cb {
  zoom: 1;
}

.search {
  height: 14px;
  width: 370px;
  padding: 9px;
  margin-top: 10px;
  border: 1px solid #ddd;
  -webkit-transition: background .1s ease-in 0;
  -moz-transition: background .1s ease-in 0s;
  transition: background .1s ease-in 0s;
  background-color: #f5f5f5;
  cursor: text;
}

.logo-content {
  width: 400px;
/*   color: rgb(255, 255, 255);
  background-color:#2e9057; */
  height: 50px;
  background-position: 0 0;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  box-shadow: 0 0 10px #aaa;
}
.logo-content{
   background: url(/images/logo.png) no-repeat; 
}

.main-slidebox {
  /* z-index: 500; */
  height: 425px;
  background: #282828; 
  box-shadow: 0 0 5px #286a46;
  position:relative;
}
.main-slidebox .tabwrap .tabs {
  width: 100%;
  height: 38px;
  top: 0;
  left: 0;
  float: right;
}
.main-content {
	width: 1140px;
	height:425px;
	margin: 0 auto;
	
}
.main-content img{
	max-width: 1140px;
}
.main-content-ol {
		margin: 0 auto;
		width: px;
		width: 1140px;
		top: 0px;
}

.dd {
  /* z-index: 500; */
  height: 4250000px;
  background: #ff0000;
  box-shadow: 0 0 5px #286a46;

}
.ztest {
	top: 0;
	position: absolute;
	width:1140px;
	list-style: none;
	text-align: left;
	background-color: #ffffff;
}
.toad-thumbnail .bin  {
	position: absolute;
	text-indent: 18px;
	margin: 110px 0 0 0;
	line-height: 52px;
	width: 260px;
	font-size: 18px;
	color: #fff;
	text-shadow: 0 1px 3px #444;
	}