<div class="widget">
	<h2 class="widgettitle" >{{target.defaultData.maskLoc}}&nbsp;<a ui-sref="index.home" href="" class="">{{target.home}}</a>&nbsp;>&nbsp;{{target.value}}</h2>
	
</div>
<div class="classification-content-part">
	<div ng-repeat="data in datas">
		<div class="abbreviated-post">
			<div class="toad-thumbnail">
				<img src="" border="10" alt="">
			</div>
			<div class="toad-post-content">
				<h4 class="post-name">
					<span ui-sref=".readcontent" data-id="{{data.id}}" ng-click="setClassification($event.target)" >{{data.title}}</span>
				</h4>
			</div>
			<div class="toad-item-stats">{{data.createDate}}</div>
			<p class="post-full ">{{data.content}}</p>
			<div class="toad-item-introduction">
				<span class="dddddddddd">{{content.author}}{{data.author}}</span>
				<h class="sep">|</h>
				<span class="">{{content.classification}}{{data.classification}}</span>
				<h class="sep">|</h>
				<span class="">{{content.read}}{{data.read}}</span>
				<span ui-sref="index.readcontent" class="more-read" data-id="{{data.id}}" ng-click="readMostContent($event.target)" >{{content.readmore}}</span>
			</div>
		</div>
	</div>
</div>