<div class="widget">
	<h2 class="widgettitle" ng-bind="greeting.contact"></h2>
	<div class="contact">
		<p>
			<span ng-bind="greeting.cooperation"></span><a rel="nofollow" target="_blank"href="http://wpa.qq.com/msgrd?v=3&amp;uin=278198956&amp;site=qq&amp;menu=yes"><i class="fa fa-qq side-box-p" ng-bind="greeting.qqTalk"></i></a>
		</p>
		<p>
			<a rel="nofollow" target="_blank"
				href="http://weibo.com/wenqingyixiaoxi">xinglang</a> | <a rel="nofollow"
				target="_blank" href="http://t.qq.com/anfeng9638">tengxunweibao</a> | <a
				rel="nofollow" target="_blank"
				href="http://www.douban.com/people/yixiaoanfeng/">weix</a>
		</p>
	</div>
</div>
<div class="widget">
	<h2 class="widgettitle" ng-bind="greeting.popularArticle"></h2>
	<div class="contact">
		<a>This is my life</a><br>
		<a>This is my life</a><br>
		<a>This is my life</a><br>
		<a>This is my life</a><br>
		<a>This is my life</a><br>
		<a>This is my life</a><br>
		<a>This is my life</a><br>
		<a>This is my life</a><br>
		<code>&lt;section&gt;</code> should be wrapped as inline.
	</div>
</div>

<div class="widget">
	<h2 class="widgettitle" ng-bind="greeting.weixin"></h2>
	<div class="contact">
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-weixin fa-3x wei-xin"></i>
		</p>

	</div>
</div>

<div class="widget">
	<h2 class="widgettitle" ng-bind="greeting.randomArticle"></h2>
	<div class="contact">
		<a>It's a beautiful day</a><br>
		<a>It's a beautiful day</a><br>
		<a>It's a beautiful day</a><br>
		<a>It's a beautiful day</a><br>
		<a>It's a beautiful day</a><br>
		<a>It's a beautiful day</a><br>
		<a>It's a beautiful day</a><br>
		<a>It's a beautiful day</a><br>
	</div>
</div>
