<!--首页滚动图片播放 -->
<div id="ad-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
	<roll></roll>
	<div class="carousel-inner ">
		<div class="item active ">
			<img src="images/chrome-big.jpg" alt="1 slide">
			<div class="">
				<div class="carousel-caption">
					This is my life
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/images/safari-big.jpg" alt="3 slide">

			<div class="">
				<div class="carousel-caption">
					This is my life
				</div>
			</div>
		</div>
		<div class="item">
			<img src="images/opera-big.jpg" alt="4 slide">
			<div class="">
				<div class="carousel-caption">
					This is my life
				</div>
			</div>
		</div>
		<div class="item">
			<img src="images/ie-big.jpg" alt="5 slide">
			<div class="">
				<div class="carousel-caption">
					This is my life
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#ad-carousel" data-slide="prev"><span class="glyphicon-chevron-right fa fa-chevron-left"></span></a>
    <a class="right carousel-control" href="#ad-carousel" data-slide="next"><span class="glyphicon-chevron-right fa fa-chevron-right"></span></a>
</div>

<div class="post-filters clearfix">
	<span class="active"> Most Recent </span>
</div>
<div class="content-part" ng-controller="HomePage">
	<div ng-repeat="data in datas">
		<div class="abbreviated-post">
			<div class="toad-thumbnail">
				<img src="{{data.image}}" border="10" alt="">
			</div>
			<div class="toad-post-content">
				<h4 class="post-name">
					<a>{{data.title}}</a>
				</h4>
			</div>
			<div class="toad-item-stats">{{data.createDate}}</div>
			<p class="post-full ">{{data.content}}</p>
			<div class="toad-item-introduction">
				<span class="dddddddddd">{{content.author}}{{data.author}}</span>
				<h class="sep">|</h>
				<span class="">{{content.classification}}{{data.classification}}</span>
				<h class="sep">|</h>
				<span class="">{{content.read}}{{data.read}}</span>
				<span class="more-read">{{content.readmore}}</span>
			</div>
		</div>
	</div>
	<div class="paging">
	<i class="fa fa-fast-backward side-box-p ng-binding" ></i>
	<i class="fa side-box-p ng-binding sssssss" >1</i>
	<i class="fa side-box-p ng-binding sssssss" >2</i>
	<i class="fa side-box-p ng-binding sssssss" >3</i>
	<i class="fa side-box-p ng-binding sssssss" >4</i>
	<i class="fa side-box-p ng-binding sssssss" >5</i>
	<i class="fa side-box-p ng-binding sssssss" >6</i>
	<i class="fa fa-fast-forward side-box-p ng-binding" ></i>
	</div>
</div>