<div class="post-filters clearfix">
	<span> Most Recent </span>
</div>
<div class="content-part" ng-controller="HomePage">
	<div ng-repeat="data in datas">
		<div class="abbreviated-post">
			<div class="toad-thumbnail">
				<img src="{{data.image}}" border="10" alt="">
			</div>
			<div class="toad-post-content">
				<h4 class="post-name">
					<span ui-sref="index.readcontent" href="#" data-id="{{data.id}}" ng-click="readMostContent($event.target)" >{{data.title}}</span>
				</h4>
			</div>
			<div class="toad-item-stats">{{data.createDate}}</div>
			
			<p class="post-full ">{{data.content}}</p>
			<div class="toad-item-introduction">
				<span >{{content.author}}{{data.author}}</span>
				<h class="sep">|</h>
				<span class="">{{content.classification}}{{data.classification}}</span>
				<h class="sep">|</h>
				<span class="">{{content.read}}{{data.read}}</span>
				<a ui-sref="index.readcontent" href="#" class="more-read" data-id="{{data.id}}" ng-click="readMostContent($event.target)" >{{content.readmore}}</a>
			</div>
		</div>
	</div>
	<div class="paging">
	<i class="fa fa-fast-backward side-box-p ng-binding" ></i>
	<i class="fa side-box-p ng-binding sssssss" >1</i>
	<i class="fa side-box-p ng-binding sssssss" >2</i>
	<i class="fa side-box-p ng-binding sssssss" >3</i>
	<i class="fa side-box-p ng-binding sssssss" >4</i>
	<i class="fa side-box-p ng-binding sssssss" >5</i>
	<i class="fa side-box-p ng-binding sssssss" >6</i>
	<i class="fa fa-fast-forward side-box-p ng-binding" ></i>
	</div>
</div>