 <div class="m-slidebox" id="main-cotent-side-box" style="background: rgb(6, 13, 18); display:block; z-index: 1; opacity: 10;">
	<div id="main-ad-carousel" class="carousel slide  "   data-ride="carousel" data-interval="5000" ><a></a>
		<div class="main-content-ol "> 
			<ol class="carousel-indicators ">
				<li data-target="#main-ad-carousel" data-slide-to="0" class="active" style="background-image:url(images/abc-title.jpg)"></li>
				<li data-target="#main-ad-carousel" data-slide-to="1" style="background-image:url(images/image-a-title.jpg);"></li>
				<li data-target="#main-ad-carousel" data-slide-to="2" style="background-image:url(images/fengji.jpg)"></li>
				<li data-target="#main-ad-carousel" data-slide-to="3" style="background-image:url(images/image-c-title.jpg)"></li>
				<li data-target="#main-ad-carousel" data-slide-to="4" style="background-image:url(images/image-b-title.jpg)"></li>
			</ol>
			<div class="ztest">
	 	 	    <div class=" tabwrap f-pa main-content " id="j-mainslide-tabs">
					<div class="bg">
					</div>
					<div class="con f-pa">
						<div class="tabtop"></div>
						<div class="tabs f-pa">
							<ul class="tabsul clear f-f0">
								<li class="j-tab tab f-fl tabpos" style="margin-left: 0px;">{{sourse.new}}</li>
								<li class="j-tab tab f-fl" style="margin-left: 32px;">{{sourse.hot}}</li>
								<li class="j-tab tab f-fl" style="margin-left: 34px;">{{sourse.comm}}</li>
							</ul>
							<div class="tabline f-pa j-tabline" style="left: 15px;"></div>
						</div>
					</div>
				</div>
			</div> 
		</div> 
		<div class="carousel-inner ">
			<div class="item active"  style="background-color:rgb(240, 240, 240) ">
				<div class="main-content" >
					<img ng-src ="images/abc.jpg" alt="4 slide">
				</div>
			</div>
			<div class="item" style="background: rgb(6, 13, 18)">
				<div class="main-content">
					<img ng-src="images/image-a.jpg" alt="1 slide" >
				</div>
			</div>
			<div class="item" style="background: rgb(165, 204, 232)">
				<div class="main-content">
				 <img ng-src="images/chrome-big.jpg" alt="2 slide" >
				</div>
			</div>
			<div class="item"style="background: rgb(97, 2, 3)">
				<div class="main-content">
					<img ng-src="images/image-c.jpg" alt="3 slide" >
				</div>
			</div>
			<div class="item" style="background: rgb(95, 60, 46)">
				<div class="main-content">
					<img ng-src="images/image-b.jpg" alt="4 slide" >
				</div>
			</div>
		</div>
	</div>
</div> 


<div class="content"> 
	<div class="post-filters clearfix">
		<span>When you feel like quitting, think about why you started. </span>
	</div>
	<div class="content-part" ng-controller="HomePage">
		<div ng-repeat="data in datas">
			<div class="abbreviated-post">
				<div class="toad-thumbnail">
					<div class="bin">
						<h4 class="f-fl f-thide">article.yeeyan.org</h4>
					</div>
					<img src="images/image-a.jpg" border="10" alt="">
				</div>
				<div class="toad-thumbnail">
					<div class="bin">
						<h4 class="f-fl f-thide">This is a </h4>
					</div>
					<img src="images/chrome-big.jpg" border="10" alt="">
				</div>
				<div class="toad-thumbnail">
					<div class="bin">
						<h4 class="f-fl f-thide">We found there were some </h4>
					</div>
					<img src="images/image-c.jpg" border="10" alt="">
				</div>
				<div class="toad-thumbnail">
					<div class="bin">
						<h4 class="f-fl f-thide">Hopefully,www.cnblogs.com</h4>
					</div>
					<img src="images/image-b.jpg" border="10" alt="">
				</div>
				<div class="toad-post-content"></div>
			</div>
		</div>
	</div>
</div>